*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

body{

	color: #000;
	background-attachment: fixed;
    width: 100vw;
    height: 100vh;
	background-color: #58d2e7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.container{
    background-image: url('../public/assets/background.png');
    height: 300px;
    width:  600px;
    box-shadow: 0 0 1em rgba(1, 9, 82, 0.5);
}

.form{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    height: 300px;
    width:  350px;
}
form{
    margin-bottom: 20px;
}
::placeholder{
    padding: 5px;
}
input#campo{
    height: 30px;
    padding: 5px;
    
}
input[type="submit"]{
    height: 30px;
    padding: 5px 5px;
    
}